.new-tweet {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid rgb(126, 126, 118);
    padding: 1rem;
}

.new-tweet-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

textarea {
    width: 100%;
    background: inherit;
    border: none;
    font-size: 1.24rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin-bottom: 1.4rem;
}