.tweet-wrapper {
    display: flex;
    border: 1px solid #eff3f4;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.tweet-info-user span.username  {  
    font-weight: 550;
}

.tweet-info-user span.secondary {
    padding-left: 0.5rem;
    color: #536471;
}

.text {
    display: flex;
    flex-direction: row;
}

.text p{
    color: black;
    margin-top: 0.2rem;
}

.text a {
    text-decoration: none;
}

.tags {
    margin-top: 0.2rem;
}

span.tag {
    color: #4f9cf0
}

.tweet-stats {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
}

.tweet-stats .comment svg{
    position: relative;
    top: 4px;
}

.tweet-stats .comment a {
    text-decoration: none;
}

.tweet-stats div {
    margin-right: 4rem;
}

.tweet-stats svg {
    margin-right: 0.5rem;
}

.tweet-stats span {
    display: flex;
    align-items: center;
    text-decoration: none !important;
}