.edit-profile-wrapper {
    padding-bottom: 5rem;
}

.header {
    padding: 0.6rem 1rem;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

.cover-photo-wrapper {
    margin-bottom: 1rem;
    cursor: pointer;
}

.avatar-wrapper {
    margin-left: 1rem; 
    cursor: pointer;
}