.add-comment-wrapper {
    display: flex;
    width: 100%;
    border: 1px solid ;
    padding: 1rem;
}

.add-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-comment-action {
    display: flex;
    align-items: center;
}

.textarea {
    width: 100%;
    background: inherit;
    border: none;
    font-size: 1.24rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin-bottom: 1.4rem;
    resize: vertical;
}

.textarea:focus {
    outline: none;
}